body{
    background: rgba(10, 10, 10, .9);
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}
h1{
  display: block;
  font-size: 2rem;
  border-bottom: 1px solid white;
}

h2{
  display: block;
}

.container{
  display: flex;
  justify-content: center; 
}

.columns{
  flex: 1;
  padding: 1rem;
}

.column h3{
  padding: 1rem;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: 2px dashed white;
  color: white;
  background: black;
  margin: 1rem 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: "Sixtyfour", sans-serif;
}
button:active{
  background: white;
  color: black;
}